<!DOCTYPE html>
<html>
<head>
    <title>File Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Files</h1>
    <ul id="files-list">
        {% for file in files %}
            <li>
                {{ file }}
                <div>
                    {% if mdp == "HCA" %}
                    <a class="Download" href="/uploads/{{ file }}" target="_blank">Download</a> |
                    <a href="{{ url_for('delete_file', filename=file) }}">Delete</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <a class="upload" href="{{ url_for('upload_file') }}" id="upload-link">Upload a new file</a>
</body>
</html>
